.app.light {
  --bg-color: #c2dce0;
  --inverted-bg-color: #000862;


  --primary-color: #0c1357;
  --secondary-color: #1324ba;

  --inverted-primary-color: #0ce629;
  --inverted-secondary-color: #09d4d7;
}
